{{define "Header"}}<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="views/statics/css/base.css" />
        <!-- <link type="text/css" rel="stylesheet" href="css/index.css" /> -->
	<!-- <link href="views/statics/css/default.css" rel="stylesheet" type="text/css"> -->
</head>
	<body>
<header>
	<h1>Killed my footer</h1>
<nav>
<ul>
	<li><a href="about">Home</a></li>
<li><a href="about">Blog</a></li>
<li><a href="about">About</a></li>
</ul>
</nav>
</header>
	</body>
{{end}}
